*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/litellm/proxy/_experimental/out/assets/audit-logs-preview.png filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/litellm/proxy/_experimental/out/assets/logos/dataforseo.png filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/litellm/proxy/_experimental/out/assets/logos/s3_vector.png filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/litellm/proxy/_experimental/out/assets/logos/sap.png filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/numpy/_core/lib/npymath.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/numpy/random/lib/npyrandom.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/numpy.libs/libscipy_openblas64_-63c857e738469261263c764a36be9436.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/numpy.libs/msvcp140-a4c2229bdc2a2a630acdc095b4d86008.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/onnxruntime/capi/onnxruntime.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pandas.libs/msvcp140-a4c2229bdc2a2a630acdc095b4d86008.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_acero.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_acero.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_compute.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_compute.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_dataset.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_dataset.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_flight.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_flight.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_python.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_python.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_substrait.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/arrow_substrait.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/parquet.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow/parquet.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pyarrow.libs/msvcp140-6e7bcb4ffac2ac140bf7bcc6de529ee1.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pydeck/nbextension/static/index.js.map filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pymupdf/mupdf-devel/lib/mupdfcpp64.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pymupdf/mupdfcpp64.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pypdfium2_raw/pdfium.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pythonwin/mfc140u.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pythonwin/scintilla.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/PyWin32.chm filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pywin32_system32/pythoncom311.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/pywin32_system32/pywintypes311.dll filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/streamlit/static/static/media/fireworks.B4d-_KUe.gif filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/streamlit/static/static/media/MaterialSymbols-Rounded.VqUtTjSV.woff2 filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/streamlit/static/static/media/SourceSansVF-Italic.ttf.Bt9VkdQ3.woff2 filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/streamlit/static/static/media/SourceSansVF-Upright.ttf.BsWL4Kly.woff2 filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/streamlit/static/static/media/SourceSerifVariable-Italic.ttf.CVdzAtxO.woff2 filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/streamlit/static/static/media/SourceSerifVariable-Roman.ttf.mdpVL9bi.woff2 filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/win32/libs/pywintypes.lib filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/win32com/libs/pythoncom.lib filter=lfs diff=lfs merge=lfs -text
.venv/Scripts/python.exe filter=lfs diff=lfs merge=lfs -text
.venv/Scripts/pythonw.exe filter=lfs diff=lfs merge=lfs -text
.venv/Scripts/uv.exe filter=lfs diff=lfs merge=lfs -text
.venv/Scripts/uvw.exe filter=lfs diff=lfs merge=lfs -text
.venv/Scripts/uvx.exe filter=lfs diff=lfs merge=lfs -text
.venv/share/jupyter/nbextensions/pydeck/index.js.map filter=lfs diff=lfs merge=lfs -text
